<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false" scanPeriod="30 seconds">
    <property name="APP_NAME" value="testcenter" />
    <property name="DEPLOY_DIR" value="/mnt/deploy" />
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="LOGALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEPLOY_DIR}/logs/log-${APP_NAME}-today.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${DEPLOY_DIR}/logs/log-${APP_NAME}-%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
	</appender>

    <logger name="com.aboo.zoo" level="INFO" additivity="true">
        <appender-ref ref="LOGALL" />
    </logger>
	
	<logger name="jdbc.sqltiming" level="INFO" additivity="true" />
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGALL" />
	</root>
</configuration>