<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false" scanPeriod="30 seconds">

    <property name="APP_NAME" value="zuulcenter" />
    <property name="DEPLOY_DIR" value="/zzlogs" />
    
    <contextName>${APP_NAME}</contextName>
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%C{16}.%method] -> %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="LOGALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEPLOY_DIR}/logs/log-${APP_NAME}-today.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%C{16}.%method] -> %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${DEPLOY_DIR}/logs/log-${APP_NAME}-%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

    <logger name="com.aboo.zoo" level="INFO" additivity="true" />
	<logger name="jdbc.sqltiming" level="INFO" additivity="true" />
	<logger name="org" level="ERROR" additivity="true" />
	<logger name="com" level="ERROR" additivity="true" />
	<logger name="net" level="ERROR" additivity="true" />
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGALL" />
	</root>
</configuration>